/**
 * Copyright 2022 Kenth Fagerlund.
 * SPDX-License-Identifier: MIT
 */
 .lookhere {
    animation: color-change 1s infinite;
  }

  @keyframes color-change {
    0% { color: rgb(221, 74, 154); }
    50% { color: rgb(242, 171, 71); }
    100% { color: rgb(221, 74, 154); }
  }